color-swatch {
  --swatch-color: var(--primary-container-bg-color);
  --selection-bg-color: var(--primary-bg-color);

  background: var(--swatch-color);
  box-sizing: border-box;
  container-name: color-swatch;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  justify-content: flex-end;
  padding: 24px;
  width: 100%;

  ::selection {
    background: var(--selection-bg-color);
    color: var(--swatch-color);
  }

  .actions-container {
    --action-size: 32px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: auto;
    width: 100%;

    button,
    label {
      align-items: center;
      background: none;
      border-radius: 50%;
      border: 0;
      color: inherit;
      cursor: pointer;
      display: flex;
      height: var(--action-size);
      justify-content: center;
      width: var(--action-size);
    }

    button:hover,
    label:hover {
      background: var(--selection-bg-color);
      color: var(--swatch-color);
    }

    span {
      font-size: 18px;
    }

    .edit-color-action {
      position: relative;

      input[type=color] {
        border: 0;
        bottom: 0;
        height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 0;
      }
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .values-container {
    display: grid;
    font: 18px "Ubuntu Mono", monospace;
    gap: 0 12px;
    grid-template-columns: min-content auto;
    line-height: 24px;

    label {
      user-select: none;
    }

    span {
      font-weight: 600;
    }
  }

  @container color-swatch (width < 240px) {
    .values-container {
      font-size: 16px;
      line-height: 20px;
    }
  }

  @container color-swatch (width < 200px) {
    .values-container {
      display: flex;
      flex-direction: column;

      label:not(:first-of-type) {
        margin-top: 12px;
      }
    }
  }

}
