color-swatch {
  --swatch-color: var(--primary-container-bg-color);
  --selection-bg-color: var(--primary-bg-color);

  background: var(--swatch-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 24px;
  gap: 12px;
  width: 100%;

  ::selection {
    background: var(--selection-bg-color);
    color: var(--swatch-color);
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
  }

  .values-container {
    display: grid;
    font: 18px "Ubuntu Mono", monospace;
    gap: 0 12px;
    grid-template-columns: min-content auto;
    line-height: 24px;

    label {
      user-select: none;
    }

    span {
      font-weight: 600;
    }
  }
}
